attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
et-xmlfile
Flask
Flask-SQLAlchemy
greenlet
h11
idna
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
outcome
packaging
pandas
pycparser
PySocks
python-dateutil
python-dotenv
pytz
requests
selenium
six
sniffio
sortedcontainers
SQLAlchemy
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
Werkzeug
wsproto
